.color-icon{
    width: 20px;
    height: 20px; 
    margin-right: 3px;
    float: left;
    position: relative;
    border: 1px solid white;
}

.color-icon:hover {
    border: 1px solid black;
}

#color-grid {
    padding: 10px;
    width: 600px;
}

#header {
    background-color: lightgrey;
    width: 800px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}